<h2>Add User</h2>
<form action="/adduser" method="POST" style="margin-bottom: 20px;">
    <label>Username:</label><br>
    <input type="text" name="username" >
    <br><br>
    <label>Department:</label><br>
    <input type="text" name="department">
    <br><br>
    <button type="submit" value="adduser">Add</button>
</form>
