<h2>Options</h2>
<ul>
    <li><a href="/adduser">Add User</a></li>
    <li><a href="/deluser">Delete User</a></li>
    <li><a href="/addsystem">Add Machine</a></li>
    <li><a href="/delsystem">Delete Machine</a></li>
    <li><a href="/addlog">Add Machine Log</a></li>
    <li><a href="/search">Search Database</a></li>
    <li><a href="/issue">Issue</a></li>
    <li><a href="/returndev">Return</a></li>
    <li><a href="/swapsystem">Swap Machines</a></li>
    <li><a href="/decom">Decommission Machine</a></li>
</ul>